<a href="https://colab.research.google.com/github/Martin26H/Manipulacion-y-Transformacion-de-Datos-con-Pandas-y-NumPy/blob/master/Series_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
          index=[1,7,10,30]
          )

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
dicts = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dicts)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
dicts2 = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
          'Altura': [183.0, 170.0,170.0,165.0],
          'Goles': [2,200,200,800]
}

In [9]:
pd.DataFrame(dicts2, index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    800